<!-- ---
layout: example
permalink: /examples/ace/
exampleId: ace
stylesheets:
  - /libs/@convergence/ace-collab-ext/css/ace-collab-ext.css
  - /examples/ace/ace.css
overview: |-
  This example demonstrates building a realtime source code editor with the
  <a href="https://ace.c9.io/">Ace Editor</a>. This example uses the
  <a href="https://github.com/convergencelabs/ace-collab-ext">Ace Collaborative Extensions</a> to
  add in remote cursors, selections, and a Radar View that shows where other users are editing.
--- -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ace Editor</title>
  </head>
  <body>
    <div class="wrapped-editor" id="editor-container">
      <div
        class="editor"
        id="ace-editor"
        style="height: 100vh; width: 100vw; margin: 0; padding: 0"
      ></div>
      <div class="radar-view" id="radar-view"></div>
    </div>

    <script
      src="/static/js/id.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/static/js/helpers.js"
      type="text/javascript"
      charset="utf-8"
    ></script>

    <script
      src="/node_modules/socket.io/client-dist/socket.io.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script>
      var socket = io();
    </script>

    <script
      src="/node_modules/toastr/build/toastr.min.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/node_modules/ace-builds/src/ace.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/node_modules/@convergence/ace-collab-ext/umd/ace-collab-ext.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/node_modules/@convergence/color-assigner/umd/color-assigner.min.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/static/js/contents.js"
      type="text/javascript"
      charset="utf-8"
    ></script>

    <!-- Convergence resources -->
    <script src="/static/js/config.js"></script>
    <script
      src="/node_modules/rxjs/dist/bundles/rxjs.umd.min.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/node_modules/@convergence/convergence/convergence.global.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/static/js/ace.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
  </body>
</html>
